<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <header>
            <h1>Welcome!</h1> 
            <h3>in the URL command line you can:
                <ul>
                    <li>type: /FirstName</li>
                    <li>type: /FirstName/SecondName</li>
                </ul>        
                Cheers! 
            </h3>
        </header>
        <section>
            <h3>Here is some Content specific for your URL</h3>
            {% block content%}{% endblock %}    
        </section>
        <footer>
            <h3>GoodBye!</h3>
        </footer>
    </body>
</html>
